<!-- <!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
</head>  
<body>  
<form method="POST" class="post-form" action="/emp">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Enter Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee Name:</label>  
    <div class="col-sm-4">  
      {{ form.name }}  
    </div>  
  </div>   
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee age:</label>  
    <div class="col-sm-4">  
      {{ form.age}}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee Contact:</label>  
    <div class="col-sm-4">  
      {{ form.contact }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee Department:</label>  
    <div class="col-sm-4">  
      {{ form.department}}  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Is Manager?:</label>  
    <div class="col-sm-4">  
      {{ form.is_manager }}  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Manager:</label>  
    <div class="col-sm-4">  
      {{ form.manager }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>   -->

<!-- <!DOCTYPE html>
<html>
<head>
	<title>Create Employee</title>
</head>
<body>
	<h1>Create Employee</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Create</button>
	</form>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Create Employee</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var $is_manager = $('#id_is_manager');
            var $manager_field = $('#id_manager').closest('.form-group');

            $is_manager.change(function() {
                if ($is_manager.prop('checked')) {
                    $manager_field.hide();
                } else {
                    $manager_field.show();
                }
            });

            if ($is_manager.prop('checked')) {
                $manager_field.hide();
            }
        });
    </script>
</head>
<body>
    <h1>Create Employee</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</body>
</html> -->
<h1>Create Employee</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
<a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>

